body{
    padding-top:70px;
    color:white;
    background-color:black;
}
.log{
    border-top:1px solid #000;
    padding:10px;
    margin:10px;
}
.log-title{
    text-align:left;
    padding:0px;
    margin-top:0px;
}
.log-date{
    text-align:left;
    padding:0px;
    margin-bottom:0px;
}
.log-move{
    border-top:1px solid black;
    margin-top:10px;
}
.container{
    height:100%;
}
.jumbotron{
    background: rgba(76, 175, 80, 0);
}
.btn-outline-info{
    border:2px solid white;
    color:white;
}
.navbar{
    background:rgba(0,0,0,1);
    border-bottom: 1px solid white;
}
#wat{
    color:white;
}
#log-link{
    color:white;
    opacity:1;
}
#movements-link{
    color:white;
    opacity:1;
}
#navbarNav{
    color:white;
}
.moveLabel{
    padding-right:5px;
}
.addSet{
    font-size: 40px;
    padding:0px;
}
.removeSet{
    font-size: 40px;
    padding:0px;
}
.navbar-toggler-icon{
    background-color:white;
}
.navbar-light .navbar-nav .nav-link {
     color:white;
}